i.big {
  font-size: 10em;
  color: lightgray;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}

.center {
  text-align: center;
}

.custom-split-div {
  display: none;
}

#roommateNameError, #expenseErrorOutput, #paymentErrorOutput {
  font-size: 10px;
  color: red;
}

.up-button {
  display: none;
}

.roommate-name-icon {
  float: left;
  font-size: 1.5em;
  color: gray;
}

.roommate-name-header {
  float: left;
  font-size: 1.5em;
}

.roommate-name-header-button {
  float: right;
}

.expense-icon {
  float: left;
  color: gray;
}

.expense-header {
  float: left;
}

.expense-total {
  float: right;
}

.roommate-total-icon {
  float: left;
  color: gray;
}

.roommate-total {
  float: left;
}

#house-accordion {
  display: none;
}

.household-total-icon {
  float: left;
  color: gray;
}

.household-total {
  float: left;
}

.household-name-icon {
  float: left;
  font-size: 1.5em;
  color: gray;
}

.household-name-header {
  float: left;
  font-size: 1.5em;
}

.household-name-header-button {
  float: right;
}

#add-payment .fas {
  font-size: 1.2rem;
}