i.big {
  font-size: 10em;
  color: lightgray;
}

.center {
  text-align: center;
}

.custom-split-div {
  display: none;
}

#roommateNameError, #expenseErrorOutput {
  font-size: 10px;
  color: red;
}